/**************** Lists Page ****************/

.listToolbar {
    background-color: #07a70e !important;
    color: white !important;
}

.listsToolbarTitle .v-icon-btn {
    color: black !important;
}
.listsToolbarTooltip {
    position: relative;
    top: 10px;
}

/*************** Post CSS *************/

.feedMenu .v-list-item-title {
    position: relative;
    padding: 5px;
    left: 0px;
}

.cardWrapper {
    margin: 10px;
}

.feedPost .v-card-text {
    position: relative;
    height: 190px;
    overflow: hidden;
    margin: 5px;
}

.feedPost .v-card-text:hover {
    border: 1px solid #e0e0e0;
    border-radius: 15px;
}

.feedPost .v-card-actions {
    border-top: 1px solid #e0e0e0;
    position: relative;
    bottom: 0px;
}